/** {*/
/*    padding: 5px 0;*/
/*}*/

/*.box {*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    border: 1px dashed gray;*/
/*    margin: 2px;*/
/*}*/

/*.container .rows {*/
/*    width: 90%;*/
/*    margin: 0 auto;*/
/*}*/

/*.callback {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/


/*body{*/
/*    background: #3da285;*/
/*}*/

/*.line{*/
/*    text-decoration: line-through;*/
/*}*/












/*body {*/
/*    background: #000;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    height: 100vh;*/
/*    overflow: hidden;*/
/*    margin: 0;*/
/*}*/

/*.container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-wrap: wrap;*/
/*    max-width: 600px;*/
/*    margin: 0 auto;*/
/*}*/

/*.square {*/
/*    width: 220px;*/
/*    height: 20px;*/
/*    background: rgba(9, 8, 8, 0.44);*/
/*    transition: 1s ease;*/
/*    box-shadow:  0 0 3px #000000;*/
/*}*/

/*.square:hover {*/
/*    transition-duration: 0s;*/
/*}*/



.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}






